<div class="container">
  <div class="row">
    <div class="col">
      <h1>Analysis#index</h1>
      <ul>
        <% @analysis.each do |analyse| %>
          <li> <%= analyse.name %> (<%= analyse.sample %>) </li>
        <% end %>
      </ul>
      <%= link_to "New Analysis", new_analysis_path, class: "btn-primary" %>

    </div>
  </div>
</div>
