<div class="container">
  <h1 class="text-center mt-3">Welcome to your panel analysis!</h1>
  <div class="row mt-5">
    <div class="col-6">
      <ul>
        <% @analysis.each do |analyse| %>
          <li> ID-<%= analyse.id %>: <%= link_to analyse.name, analysis_path(analyse) %>
           (<%= analyse.sample %>)
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <%= link_to "New Analysis", new_analysis_path, class: "btn-primary" %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-arrow-up-wide-short fa-xl"></i>
        </div>

      </div>
    </div>


  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">

      <h3 class="mt-5">

      </h3>

    </div>

  </div>

</div>
