<div class="container">
  <div class="row">
    <div class="col">
      <h1>Laboratories#index</h1>
      <ul>
        <% @laboratories.each do |laboratory| %>
          <li> <%= link_to laboratory.name, laboratory_path(laboratory) %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
