

<div class="banner">
  <div class="container">
    <h1>GenoScreen helps you manage your genetics data!</h1>
    <p>Bring your analysis to the next level.</p>
    <a class="btn-primary" href="#">Test it now!</a>
  </div>
</div>
